div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

.Wrapper2 {
    text-align: center;
    margin-bottom: 15px;
}

.Wrapper{
    padding: 15px 40px 0 40px;
}

.BookList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
}

.BookList > div {
    background: #e7e6e6;
    padding: 10px;
}

.DisplayNone {
    display: none;
}

.Loader {
    display: block;
}

.TotalItems {
    background: rgb(216, 214, 214);
    border: 1px solid rgb(190, 189, 189);
    border-radius: 10%;
    padding: 0 3px;
}

@media screen and (max-width: 992px) { 
    .BookList {
        grid-template-columns: 1fr 1fr 1fr;
    }
 }

 @media screen and (max-width: 697px) { 
    .BookList {
        grid-template-columns: 1fr 1fr;
    }
 }

 @media screen and (max-width: 480px) { 
    .BookList {
        grid-template-columns: 1fr;
    }
 }

 @media screen and (max-width: 320px) { 
    
 }





