div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.Container {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url('./book.jpg');
}

.Search-section {
  margin: 0 auto;
  text-align: center;
  
}

.ViewMoreDiv{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
